// INDEX

.main__inicio{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    opacity: 85%;
    width: 100%;
}

@media (min-width: 992px) {
    .main__inicio{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        opacity: 85%;
        width: 100%;
    }
    
}

// _______________________________INICIO

.main__inicio__sobremi{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 85%;
    width: 100%;
}

@media (min-width: 992px) {
    .main__inicio__sobremi{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        opacity: 85%;
        width: 100%;
    }
    
}

// __________________________________ PRODUCCION

.main__inicio__produccion{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 85%;
    width: 100%;
}

@media (min-width: 992px) {
    .main__inicio__produccion{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        opacity: 85%;
        width: 100%;
    }
    
}

// ________________________________AUDIOVISUAL

.main__inicio__diseño{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 85%;
    width: 100%;
}

@media (min-width: 992px) {
    .main__inicio__diseño{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        opacity: 85%;
        width: 100%;
    }
    
}



// ______________________________________DISEÑO

.main__inicio__produccionaudiovisual{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 85%;
    width: 100%;
}
// ________________________________

@media (min-width: 992px) {
    .main__inicio__produccionaudiovisual{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        opacity: 85%;
        width: 100%;
    }
    
}

// ___________________________contacto

.main__contacto{
    background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    opacity: 85%;
    width: 100%;
}

// ______________________________

@media (min-width: 992px) {
    .main__contacto{
        background-image: url('https://cdn.pixabay.com/photo/2021/02/08/17/43/audio-5995743_1280.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        opacity: 85%;
        width: 100%;
    }
    
}
